.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
}

#myCanvas {
  border: 1px solid var(--primary-color);
  width: 832px;
  height: 768px;
  background-color: black;
}

.tips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 10px;
}

.card {
  justify-self: center;
  align-self: center;
  border: 5px solid var(--primary-color);
  background-color: var(--secondary-color);
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
}
