.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
}

#myCanvas {
  border: 1px solid var(--primary-color);
  width: 832px;
  height: 768px;
  background-color: black;
}

.tips {
  /* height: 5%; */
  width: 50%;
  background-color: var(--secondary-color);
  border: 5px solid var(--primary-color);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
