.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.base {
  width: 512px;
  height: 512px;
  border-radius: 15px;
  border: 10px solid var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.area {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#pop-up-container {
  display: none;
  position: absolute;
  width: 30%;
  height: 20%;
}

.pop-up {
  display: grid;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 5px solid var(--primary-color);
  grid-template-areas:
    "message message"
    "restart ok";
}

#finsh-message-container {
  grid-area: message;
  font-size: xx-large;
  width: 100%;
  height: 100%;
}

.pop-up > div {
  width: 50%;
  /* text-align: center;
  margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop p {
  display: block;
  width: 100%;
}

#restart-2 {
  width: 10%;
  height: 5%;
  justify-content: center;
  display: none;
}

.area:hover,
.btn:hover {
  background-color: var(--highlight-color);
}

#restart {
  grid-area: restart;
}

#ok {
  grid-area: ok;
}

.btn {
  /* padding: 10px 20px; */
  width: 100%;
  height: 50%;
  justify-self: center;
  align-self: center;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  display: flex;
}

.nav-div {
  width: 100%;
}

.nav-div ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0px 50px 0px;
  padding: 0;
}

.nav-div li {
  list-style: none;
}

.nav-div a {
  font-size: 25px;
  background-color: var(--highlight-color);
  border-radius: 50px 0px;
  padding: 5px 20px;
  color: black;
  text-decoration: none;
}
