.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
}

#myCanvas {
  /* border: 1px solid var(--primary-color); */
  width: 80vh;
  height: 80vh;
  background-color: rgb(50, 50, 50);
}
