.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 5px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  padding: 5px 15px;
  gap: 100px;
}

.tips-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.tips {
  justify-self: center;
  align-self: center;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
}

.level-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 0px 15px;
}

.level {
  width: 100%;
  height: 50%;
  justify-self: center;
  align-self: center;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 5px 10px;
}

.level:hover,
#ok:hover {
  background-color: var(--highlight-color);
}

#myCanvas {
  /* border: 1px solid var(--primary-color); */
  width: 80vh;
  height: 80vh;
  background-color: rgb(50, 50, 50);
}

#finsh-message-container {
  /* grid-area: message; */
  font-size: xx-large;
  width: 100%;
  height: 100%;
}

#pop-up-container {
  position: absolute;
  width: 25%;
  height: 20%;
  left: -50%;
  top: 50%;
  transform: translateY(-50%);
  transition: left 1s ease-in-out;
}

.timer-container {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 2%;
  top: 20%;
  background-color: var(--secondary-color);
  border: 5px solid var(--primary-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.pop-up {
  display: grid;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 5px solid var(--primary-color);
  /* grid-area: "message" "ok"; */
  grid-template-columns: 1fr;
}

#ok {
  width: 50%;
  height: 50%;
  justify-self: center;
  align-self: center;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  display: flex;
}

.pop-up div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up div p {
  text-align: center;
}
