img {
  max-width: 200px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  margin: auto;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  max-width: 1024px;
  margin: auto;
  padding: 0px 10px;
  box-shadow: 10px 10px 8px var(--secondary-color);
  color: white;
}

.card:hover {
  background-color: var(--secondary-color);
  color: black;
}

.card-left h2 {
  text-decoration: underline;
}
