.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 200px;
  margin-top: 10%;
}

.card {
  width: 80%;
  min-height: 50%;
  border: 5px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
